/**
 *  Author : Emrah Kumru
 */


/**
* Import Material Icons
*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/**
*  Import Themes
*/
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";




/**
 * App
 */

.movie {

  &s {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    &-header {
      display: flex;
      margin-bottom: 10px;
      padding: 20px;
      align-content: stretch;
      background: #ECEFF1;
      border-bottom: 1px solid #263238;

      &-button {
        margin-right: 20px;

        &.button-end {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
}


/**
 * Buttons
 */
.mat-button {
  background: #455A64;
  color: #fff !important;

  fa {
    font-size: 18px;
    vertical-align: baseline !important;

    i {
      vertical-align: baseline !important;
    }
  }
}


/**
  * Radio
 */

.mat-radio-group {
  margin: 10px 0;

  .mat-radio-button {

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
